body {
    text-align: center;
    font-family: 'Open-Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 239, 247);
}

main {
    text-align: center;
}

.input-player {
    display: none;
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    padding: 1rem;
    border-radius: 6px;
    background-color: white;
    margin: none;
}

#backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#name-change-input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-player h2 {
    margin: 0 0 0.5rem 0;
}

.input-player label {
    padding: 0 0 0.5rem 0;
    font-weight: bold;
}

.input-player input {
    width: 12rem;
}

#cancel-and-confirm-buttons {
    padding: 1rem 0 0 0;
    display: flex;
    justify-content: center;
}

#cancel-button {
    background-color: white;
    border: 0;
    border-radius: 6px;
    padding: 0.3rem 0.8rem;
    color: rgb(120, 36, 199);
}

#cancel-button:hover {
    background-color: rgb(209, 193, 224);
}

#confirm-button {
    padding: 0.3rem 0.8rem;
    color: white;
    border: 0;
    background-color: rgb(120, 36, 199);
    border-radius: 6px;
}

#confirm-button:hover {
    background-color: rgb(80, 17, 139);
}

section h3 {
    display: none;
}

header {
    background-color: rgb(140, 0, 255);
}

h1 {
    margin: 0;
    padding: 1.5rem;
    color: rgb(239, 234, 234);
}

header p {
    margin: 0;
    padding: 0.5rem 0 3rem 0;
    color: rgb(239, 234, 234);
}

.valid-name {
    display: none;
}

.invalid-name {
    display: block;
}

.invalid-name2 {
    background-color: rgb(209, 79, 79);
}

ol {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

li {
    background-color: rgb(216, 190, 238);
    margin: 1rem 1rem;
    padding: 1rem 3rem;
    width: 20%;
    border-radius: 8px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

li p {
    margin: 0.5rem;
}

li h2 {
    color: rgb(71, 7, 122);
    margin: 0.5rem 0 1rem 0;
}

.game-symbol {
    font-size: 2rem;
    margin: 0.5rem 0 1rem 0;
}

.edit-buttons {
    color: rgb(120, 36, 199);
    border: 0;
    padding: 0.5rem 1rem;
    background-color: rgb(216, 190, 238);
    border-radius: 6px;
}

.edit-buttons:hover {
    background-color: rgb(198, 159, 219);
}

#game-portion {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#start-game-button {
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    color: white;
    background-color: rgb(120, 36, 199);
}

#start-game-button:hover {
    background-color: rgb(71, 7, 122);
}


#player-turn-message {
    display: none;
}

#cell-grid {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 0;
    margin: 0.2rem;
    padding: 1rem;
    background-color: rgb(198, 159, 219);

}

.player-1-class {
    width: 2rem;
    height: 2rem;
    background-color: blueviolet;
}

.player-1-class::before {
    content: 'X';
    font-size: 1.5rem;
    font-weight: bold;
}

.player-2-class {
    width: 2rem;
    height: 2rem;
    background-color: blueviolet;
}

.player-2-class::before {
    content: 'O';
    font-size: 1.5rem;
    font-weight: bold;
}

#end-message-block {
    display: none;
    background-color: blueviolet;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 6px;
}

#winner-message {
    margin: 0.5rem 0 1rem 0;
}

#draw-message {
    margin: 0.5rem 0 1rem 0;
}