<%- include('includes/head.ejs', { title: 'Error!' }) %>
</head>
<body>
    <%- include('includes/header.ejs') %>
    <main>
        <h1>Something went wrong!</h1>
        <p>An error occurred - please try again later!</p>
        <a class="btn" href="/">Back to Safety!</a>
    </main>
</body>
</html>